html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#heroBackground{
  background-image: url('../img/mhw_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
